section #Fondo1{
    width: 100.8%;
    margin-top: 0.4%;
    margin-left: -0.4%;
}

section #Fondo1{
    float: left;
}
section #QUW{
    float: left;
    position: absolute;
    text-align: center;
    margin-left: 32%;
    border: solid;
    border-color: white;
    padding: 1%;
    margin-top: 10%;
    background-color: white;
    border: solid;
    border-color: rgb(56, 56, 56);
}
section #QUW p{
    float: left;
    font-size: 300%;
    font-family: "ACKNO";
    color: rgb(56, 56, 56);
}

section #QUW #p2{
    font-size: 150%;
    border: solid;
    background-color: white;
    padding: 0.5%;
    margin-top: -2%;
    margin-left: 14%;
}